@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Navigation Section */

.header {
    width: 100%;
    height: 90px;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.logo {
    padding: 20px;
    /* border: 1px solid; */
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 42px;
    color: #7355F7;
    font-weight: 700;
}

.nav-menu {
    padding: 20px;
    /* border: 1px solid; */
    width: 50%;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(102, 108, 119);
    align-items: center;
    justify-content: center;
}

ul li {
    transition: .5s all ease;
    cursor: pointer;
}

ul li:hover {
    transform: scale(1.2);
}

.buy-btn {
    width: 8%;
    position: absolute;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
    color: #7355F7;
    border: 1px solid #7355F7;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    right: 90px;
    /* transition: .5s all ease; */
    cursor: pointer;
}

.buy-btn:hover {
    background-color: #7355F7;
    color: white;
}

/* Hero Section */
.section {
    width: 100%;
    height: 950px;
    background-repeat: no-repeat;
    /* background-image: url(assets/juniperphoton-OM_HhAvWjlg-unsplash-1024x768.jpg); */
    background-color: #7355F7;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: white;
}

.title {
    font-size: 120px;
    line-height: 1;
    letter-spacing: -1;
    color: white;
    text-shadow: #7355F7;
    z-index: 33;
}

.title-shadow {
    top: -118px;
    left: 5px;
    position: relative;
    font-size: 120px;
    line-height: 1;
    letter-spacing: -1;
    color: black;
    z-index: 22;
    opacity: 50%;
}

.section :nth-of-type(4) {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1;
    font-weight: 400;
    color: white;
    opacity: 90%;
}

.section :nth-child(5) {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 90px;
    background-color: white;
    z-index: 22;
    font-weight: 100;
    font-size: 12px;
    opacity: 20%;
}


/* Conference Data */

.content {
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 120px 120px;
    gap: 80px;
    margin: auto;
}

.content-l {
    width: 368px;
    height: 272px;
}


.content-l {
    display: flex;
    flex-direction: column;
    width: 368px;
    height: 100px;
    gap: 10px;
}

.content-l div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    width: 368px;
    height: 96px;
    background-color: #dbd8e7;
    padding-left: 20px;
}

.content-l div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    width: 368px;
    height: 96px;
    background-color: #dbd8e7;
    padding-left: 20px;
}


.when span:nth-of-type(1) {
    font-weight: 600;
    color: #7355F7;
    font-size: 18px;
    line-height: 1.5;
}

.when span:nth-of-type(2) {
    font-weight: 700;
    color: black;
    font-size: 20px;
    line-height: 1.5;
}

.where span:nth-of-type(1) {
    font-weight: 600;
    color: #7355F7;
    font-size: 18px;
    line-height: 1.5;
}

.where span:nth-of-type(2) {
    font-weight: 700;
    color: black;
    font-size: 20px;
    line-height: 1.5;
}


.content-r {
    width: 552px;
    height: 271px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.c-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
}

.content-r p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: grey;
}

/* Detail Image Section */
.image-detail {
    width: 100%;
    height: 500px;
    opacity: 80%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-detail div {
    width: 960px;
    height: 395px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-detail div span {
    font-weight: 700;
    font-size: 72px;
    line-height: 1.2;
}

.image-detail div p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: gray;
    width: 400px;
}

/*  Conference Data 2*/
.content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 634px;
    margin: auto;
    gap: 80px;

}

.content-2-l {
    width: 460px;
    height: 394px;
}

.content-2-l span {
    color: black;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.3;
}

.content-2-l span span {
    color: #7355F7;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.3;
}

.content-2-r {
    width: 460px;
    height: 394px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-2-r div span {
    color: #7355F7;
    font-size: 24px;
    line-height: 1.5;
    font-weight: bold;
}

.content-2-r div p {
    color: gray;
    font-size: 16px;
    line-height: 1.6;
}

/*  Conference Activities */
/* Title Section */
.conference-title {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conference-title span {
    color: black;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
}

.conference-title p {
    color: gray;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
}


/* Keynote Section */
.container-keynote-section {
    background-color: #e9e9f0;
    height: 650px;
}

.container-keynote {
    gap: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.container-keynote-l {
    width: 470px;
    height: 120px;
    display: flex;
    gap: 13px;
}

.container-keynote-l i {
    font-size: 30px;
    color: #7355F7;
}

.container-keynote-l div span {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.6;
    color: black;
}

.container-keynote-l div p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: gray;
}

.container-keynote-r {
    width: 470px;
    height: 120px;
    display: flex;
    gap: 13px;
}

.container-keynote-r i {
    font-size: 30px;
    color: #7355F7;
}

.container-keynote-r div span {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.6;
    color: black;
}

.container-keynote-r div p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: gray;
}

.seperator-keynote {
    width: 100%;
    height: 50px;
}


/* Places Sections */

.container-countries {
    height: 238px;
    background-color: #7355F7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.country {
    color: white;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.country span:nth-of-type(1) {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
}

.country span:nth-of-type(2) {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
}

.country span:nth-of-type(3) {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1px;
}

/* Timeline Section */
.timeline-container {
    background-color: rgb(43, 41, 41);
    position: relative;
    z-index: 10;
}

.timeline-header {
    height: 332px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline-header span:nth-of-type(1) {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #7355F7;
}

.timeline-header span:nth-of-type(2) {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    color: white;
}

.timeline-header span:nth-of-type(3) {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: grey;
}


.timeline-flow {
    display: flex;
    height: 1500px;
    justify-content: center;
    align-items: center;
}

.timeline-inner {
    position: relative;
    height: 1200;
    width: 1080px;
    display: flex;
    flex-direction: column;
    z-index: 20;
}

.firstc {
    position: relative;
    width: 410px;
    height: 486px;
    background-color: white;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    left: 650px;
    border-radius: 10px;
}

.firstc-back {
    position: absolute;
    width: 410px;
    height: 486px;
    background-color: #7355F7;
    left: 90px;
    border-radius: 10px;
    z-index: -11;
    top: 15px;
}

.firstc span:nth-of-type(1) img {
    width: 338px;
    height: 242px;

}

.firstc div {
    width: 338px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.firstc div span:nth-of-type(1) {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: #7355F7;
}

.firstc div span:nth-of-type(2) {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    color: black;
}

.firstc div span:nth-of-type(3) {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: gray;
}


.secondc {
    position: relative;
    width: 410px;
    height: 486px;
    background-color: white;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    bottom: 140px;
}

.secondc-back {
    position: absolute;
    width: 410px;
    height: 486px;
    background-color: #7355F7;
    left: 90px;
    border-radius: 10px;
    z-index: -11;
    top: 15px;

}

.secondc span:nth-of-type(1) img {
    width: 338px;
    height: 242px;

}

.secondc div {
    width: 338px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.secondc div span:nth-of-type(1) {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: #7355F7;
}

.secondc div span:nth-of-type(2) {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    color: black;
}

.secondc div span:nth-of-type(3) {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: gray;
}



.thirdc {
    position: relative;
    width: 410px;
    height: 486px;
    background-color: white;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    left: 650px;
    border-radius: 10px;
    bottom: 240px;

}

.thirdc-back {
    position: absolute;
    width: 410px;
    height: 486px;
    background-color: #7355F7;
    left: 90px;
    border-radius: 10px;
    z-index: -11;
    top: 15px;

}

.thirdc span:nth-of-type(1) img {
    width: 338px;
    height: 242px;

}

.thirdc div {
    width: 338px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.thirdc div span:nth-of-type(1) {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: #7355F7;
}

.thirdc div span:nth-of-type(2) {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    color: black;
}

.thirdc div span:nth-of-type(3) {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: gray;
}


.flow-lines {
    position: absolute;
    top: 250px;
    left: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.circle {
    width: 40px;
    height: 40px;
    border: 4px solid #7355F7;
    border-radius: 50%;
}

.line{
    height: 290px;
    width: 1px;
    background-color: #7355F7;
    border: 1px solid #7355F7;
}

.flow-lines div:nth-of-type() {
    position: absolute;
    top: 300px;
}

.btn{
    position: relative;
    width: 200px;
    left: 430px;
    padding: 15px;
    border-radius: 30px;
    background-color: transparent;
    border: 1.8px solid white;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.25;
    color: white;
    bottom: 100px;
}

.btn:hover{
    background-color: #7355F7;
}




/* Testimonial Section */
.testimonial-header {
    height: 240px
}

.testimonial-header div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 120px;
}

.testimonial-header div span:nth-of-type(1) {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: #7355F7;
}

.testimonial-header div span:nth-of-type(2) {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.3;
    color: black;
}

.testimonial-review {
    height: 456px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.reviewbox {
    position: relative;
    width: 250px;
    height: 250px;
    padding: 40px;
    display: flex;
    border: 1px solid #7355F7;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
}

.reviewbox-back {
    position: absolute;
    background-color: #7355F7;
    width: 250px;
    height: 250px;
    padding: 40px;
    left: 10px;
    top: 10px;
    z-index: -10;
    border-radius: 10px;
}

.reviewbox span:nth-of-type(1) img {
    width: 70px;
    height: 70px;
    display: block;
    border-radius: 50%;
    max-width: max-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.reviewbox span:nth-of-type(2) {
    text-align: justify;
    font-weight: 400;
    font-size: 15px;
    color: gray;
    line-height: 1.6;
}

.reviewbox span:nth-of-type(3) {
    font-size: 16px;
    color: #7355F7;
    line-height: 1.5;
}


/* Sponser Section */
.sponser-container {
    height: 635px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sponser-section {
    width: 1000px;
}

.sponser-heading {
    width: 1000px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sponser-heading span:nth-of-type(1) {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: black;
}

.sponser-heading span:nth-of-type(2) {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.4;
    color: #7355F7;
}

.sponser-logo-1 {
    /* margin-top: 49px; */
    width: 1000px;
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    box-sizing: border-box;
    align-items: flex-start;

}

.sponser-logo-1 span {
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbd8e7;

}

.sponser-logo-2 {
    /* margin-top: 49px; */
    width: 1000px;
    height: 150px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    box-sizing: border-box;
    align-items: flex-end;

}

.sponser-logo-2 span {
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbd8e7;
}





/* Footer Section */
.footer {
    height: 380px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.footer-1 {
    width: 475px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-1 span:nth-of-type(1) {
    font-weight: 700;
    font-size: 43px;
    letter-spacing: 1.1;
    color: #7355F7;
}

.footer-1 p {
    color: gray;
    text-align: justify;
}

.footer-1 span:nth-of-type(2) {
    display: flex;
    gap: 25px;
}

.footer-1 span:nth-of-type(2) .fa-brands {
    font-size: 40px;
    color: #7355F7;
}

.footer-1 span:nth-of-type(3) {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: gray;
}


.footer-2 {
    width: 240px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.footer-2 span:nth-of-type(1) {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    color: black;
}

.footer-2 span:nth-of-type(2) {
    display: flex;
    flex-direction: column;
}


.footer-2 span:nth-of-type(2) span {
    color: gray;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 400;
}

.footer-3 {
    width: 240px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.footer-3 span:nth-of-type(1) {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    color: black;
}

.footer-3 span:nth-of-type(2) {
    display: flex;
    flex-direction: column;
}


.footer-3 span:nth-of-type(2) span {
    color: gray;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 400;
}